@import url("../lib/styles/root.css");
@import url("../lib/styles/Text.css");
@import url("../lib/Structure.css");

body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    padding: 0;
  }
.full{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width : 100%;
    height: 100%;
}


.keyword-search{
  transform: translateX(-250px);   
}

.move{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goback {
  order: 1; /* goback을 왼쪽에 배치 */
}

.gofront {
  order: 2; /* gofront를 오른쪽에 배치 */
}