@import url("../lib/styles/root.css");

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px
}

.home-banner-container {
    margin: 60;
    padding: 20;
    font-family: "Reem Kufi", sans-serif;
  }

  img {
    max-width: 100%;
    height: auto;
  }


  .navbar-links-container a {
    margin-right: 30px;
    text-decoration: none;
    color: rgb(59, 30, 30);
    font-size: 1.1rem;
    font-weight: 600;
  }

  .nav-logo-container {
    width: 200px;
    height: 30px;
    margin-left: 10px;
  }

  .navbar-cart-icon {
    font-size: 1.15rem;
  }

  .home-text-section {
    margin-top : 140px;
  }

  .hometext {
    font-size: 30px;
    text-align: left;
    margin-top : 100px;
  }

  .homedescription {
    font-size : 20px;
    text-align: left;
    margin-top : 50px;
    width: 1080px;
    font-style: italic; 
    line-height: 1.5;
    color: #495057;
  }

  .home-text-section button {
    transform: translateY(100px);
  }