@import url("../lib/styles/root.css");
@import url("../lib/styles/Text.css");

body {
    padding: 0;
  }

.contents {

    height: 700px;
    
}
.progress_bar{
    position: relative;
    height: 180px;
}

.search_result{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.place_text {
  font-size: 20px;
  color: var(--black);
}

.show_tab h1 {
    text-align: left;
}

.show_tab,
.searchmap {
    flex: 1;
    margin-left: 120px;
    margin-right: 100px;
}

.searchmap{
    width : 100%;
    margin-left: 50px;
}

.searchmap h1 {
    text-align: left;
}

.searchcity{
    display: flex;
    height: 15%;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 20px;
}
.searchcity h1 {
    margin : 10px;
    flex: 1;
}

.shownmap{
    width: 100%;
    height: 100%;
}
