@import url("../lib/styles/root.css");
@import url("../lib/styles/Text.css");

.full{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyword-search{
    transform: translateX(-500px);   
}

.move{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.goback{
    margin-left: 100px;
}

.gofront{
    margin-right: 100px;
}

.calendar{
    margin-left: 130px;
    margin-right: 100px;
    height: 100px;
}